# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
.AppleDouble
.LSOverride
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db
ehthumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
